<!DOCTYPE HTML>
<html>
	<head>
		<title>Passport Login</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	</head>
	<body>
		<div class="container">
			{{{messages}}}
			{{#if errors}}
				{{#each errors}}
					<div class="alert alert-danger">{{msg}}</div>
				{{/each}}
			{{/if}}
			<div class="container">
				{{{body}}}
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	</body>
</html>